{% extends "base.html" %}

{% block content %}
<div class="container bootstrap snippet">
        <div class="row mt-5 pt-5">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 offset-xl-3">
                <div class="ibox float-e-margins mt-5 pt-2">
                    <div class="ibox-content mt-5 text-center">
                        <a href="" onclick="return false;" class="typewrite h3 card-link" style="color: #ff3300;cursor: default;" data-period="1000" data-type='[ "Hi!", "Joineka itu seperti Yahoo,", "atau Google,", "tapi kami tak melacakmu.", "Mulai mencari di Joineka sekarang:)" ]'>
                            <span class="wrap"></span>
                        </a>
                        <div class="search-form mt-4">
                            <form action="https://www.naver.com" method="GET">
                                <!-- <div class="input-grou"> -->
                                    <input type="text" name="search" class="form-control input-lg mr-1" autocapitalize="off" autocorrect="off" autofocus>
                                    <input type="submit" hidden />
                                    <!-- <div class="input-group-bt"> -->
                                        <!-- <button class="btn text-white ml-1 pl-4 pr-4" style="background-color: #ff3300;" type="submit"> -->
                                            <!-- <div style="padding-top: .08rem;">
                                                <i class="icon-magnifier icons" style="font-size: .95rem;"></i>
                                            </div> -->
                                            <!-- Cari -->
                                        <!-- </button> -->
                                    <!-- </div> -->
                                </div>
                            </form>
                        </div>
    

                
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}