{% extends "base.html" %}

{% block content %}
<div class="container bootstrap snippet">
        <div class="row mt-5 pt-5">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 offset-xl-3">
                <div class="ibox float-e-margins mt-5 pt-2">
                    <div class="ibox-content mt-5">
            
                        <div class="search-form mt-5">
                            <form action="#" method="get">
                                <div class="input-group">
                                    <input type="text" placeholder="Cari sesuatu.." name="search" class="form-control input-lg rounded-0 mr-1">
                                    <div class="input-group-btn">
                                        <button class="btn rounded-0 text-white ml-1 pl-4 pr-4" style="background-color: #ff3300;" type="submit">
                                            Cari
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
    

                
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}