{% extends "base.html" %}

{% block head_title %}Kebijakan Privasi - {% endblock %}

{% block content %}

      <!-- Page Title -->
      <section class="page-title text-center">
            <div class="container">
              <div class="page-title__holder">
                <h1 class="page-title__title"><b>Kebijakan Privasi</b></h1>
                <p class="page-title__subtitle">Diperbaharui pada 21 Desember 2018</p>
              </div>
            </div>
          </section> <!-- end page title -->
    
    
          <!-- Privacy Policy -->
          <section class="section-wrap">
            <div class="container">
              <div class="row justify-content-center">
    
                <div class="col-lg-8">
                  <div class="entry__article">
                    <p>Joineka ("kami" atau "milik kami") mengoperasikan situs web ("Layanan").</p>
                    <p>Halaman ini memberitahu Anda tentang kebijakan kami mengenai pengumpulan, penggunaan, dan pengungkapan Informasi Pribadi saat Anda menggunakan Layanan kami.</p>
                    <p>Kami tidak akan menggunakan atau membagikan informasi Anda kepada siapapun kecuali sebagaimana dijelaskan dalam Kebijakan Privasi ini.</p>
                    <p>Kami menggunakan Informasi Pribadi Anda untuk menyediakan dan meningkatkan Layanan. Dengan menggunakan Layanan, Anda menyetujui pengumpulan dan penggunaan informasi sesuai dengan kebijakan ini.
                    <h4>Pengumpulan dan Penggunaan Informasi</h4>
                    <p>Saat menggunakan Layanan kami, kami dapat meminta Anda untuk memberikan kami informasi pengenal pribadi tertentu yang dapat digunakan untuk menghubungi atau mengidentifikasi Anda. Secara pribadi, informasi yang dapat diidentifikasi dapat termasuk tetapi tidak terbatas pada, alamat email Anda, nama, nomor telepon, alamat pos, informasi lainnya ("Informasi Pribadi").</p>
                    <p>Kami mengumpulkan informasi ini untuk tujuan menyediakan Layanan, mengidentifikasi dan berkomunikasi dengan Anda, menanggapi permintaan / pertanyaan Anda, melayani pesanan pembelian Anda, dan meningkatkan layanan kami.</p>
                    <h4>Log Data</h4>
                    <p>Kami mengumpulkan informasi yang dikirimkan browser Anda setiap kali Anda mengunjungi Layanan kami ("Data Log"). Data Log ini dapat mencakup informasi seperti alamat Internet Protocol ("IP") komputer Anda, jenis browser, versi browser, halaman Layanan kami yang Anda kunjungi, waktu dan tanggal kunjungan Anda, waktu yang dihabiskan untuk halaman-halaman itu dan lainnya statistik.</p>
                    <p>Selain itu, kami dapat menggunakan layanan pihak ketiga seperti Google Analytics yang mengumpulkan, memantau, dan menganalisis jenis informasi ini untuk meningkatkan fungsionalitas Layanan kami. Penyedia layanan pihak ketiga ini memiliki kebijakan privasi mereka sendiri yang membahas bagaimana mereka menggunakan informasi tersebut.</p>
                    <h4>Cookie</h4>
                    <p>Seperti praktik umum pada hampir semua situs web profesional, situs ini menggunakan cookie, yang merupakan file kecil yang diunduh ke komputer Anda, untuk meningkatkan pengalaman Anda. Halaman ini menjelaskan informasi apa yang mereka kumpulkan, bagaimana kami menggunakannya dan mengapa kami terkadang perlu menyimpan cookie ini. Kami juga akan membagikan bagaimana Anda dapat mencegah cookie ini disimpan tetapi ini dapat menurunkan versi atau 'mematahkan' elemen-elemen tertentu dari fungsionalitas situs.</p>
                    <h4>Bagaimana Kami Menggunakan Cookie</h4>
                    <p>Kami menggunakan cookie untuk berbagai alasan yang dirinci di bawah ini. Sayangnya, dalam kebanyakan kasus, tidak ada opsi standar industri untuk menonaktifkan cookie tanpa sepenuhnya menonaktifkan fungsionalitas dan fitur yang mereka tambahkan ke situs ini. Disarankan agar Anda meninggalkan semua cookie jika Anda tidak yakin apakah Anda membutuhkannya atau tidak seandainya cookie itu digunakan untuk menyediakan layanan yang Anda gunakan.</p>
                    <p>Anda dapat mencegah pengaturan cookie dengan menyesuaikan pengaturan pada browser Anda (lihat Bantuan browser Anda tentang cara melakukannya). Ketahuilah bahwa menonaktifkan cookie akan mempengaruhi fungsionalitas ini dan banyak situs web lain yang Anda kunjungi. Menonaktifkan cookie biasanya akan mengakibatkan juga menonaktifkan fungsionalitas dan fitur tertentu dari situs ini. Karena itu disarankan agar Anda tidak menonaktifkan cookie.</p>
                    <h4>Cookie yang Kami Kelola</h4>
                    <p>Dari waktu ke waktu kami menawarkan survei dan kuesioner pengguna untuk memberi Anda wawasan yang menarik, alat bantu, atau untuk memahami basis pengguna kami dengan lebih akurat. Survei ini dapat menggunakan cookie untuk mengingat siapa yang telah mengambil bagian dalam survei atau untuk memberi Anda hasil yang akurat setelah Anda mengubah halaman.</p>
                    <p>Ketika Anda mengirimkan data melalui formulir seperti yang ditemukan di halaman kontak, cookie dapat diatur untuk mengingat detail pengguna Anda untuk korespondensi di masa depan.</p>
                    <p>Untuk memberikan Anda pengalaman terbaik di situs ini, kami menyediakan fungsionalitas untuk mengatur preferensi Anda tentang bagaimana situs ini berjalan saat Anda menggunakannya. Untuk mengingat preferensi Anda, kami perlu mengatur cookie sehingga informasi ini dapat dipanggil setiap kali Anda berinteraksi dengan halaman yang dipengaruhi oleh preferensi Anda.</p>
                    <h4>Cookie Pihak Ketiga</h4>
                    <p>Dalam beberapa kasus khusus, kami juga menggunakan cookie yang disediakan oleh pihak ketiga yang terpercaya.</p>
                    <p>Situs ini menggunakan Google Analytics yang merupakan salah satu solusi analitik paling luas dan terpercaya di web untuk membantu kami memahami bagaimana Anda menggunakan situs dan cara-cara yang kami dapat meningkatkan pengalaman Anda. Cookie ini dapat melacak hal-hal seperti berapa lama Anda habiskan di situs dan halaman yang Anda kunjungi sehingga kami dapat terus menghasilkan konten yang menarik.</p>
                    <p>Untuk informasi lebih lanjut tentang cookie Google Analytics, lihat halaman resmi <a href="https://marketingplatform.google.com/about/analytics/terms/us/">Google Analytics</a>.</p>
                    <p>Analitik pihak ketiga digunakan untuk melacak dan mengukur penggunaan situs ini sehingga kami dapat terus menghasilkan konten yang menarik. Cookie ini dapat melacak hal-hal seperti berapa lama Anda habiskan di situs atau halaman yang Anda kunjungi yang membantu kami untuk memahami bagaimana kami dapat meningkatkan situs untuk Anda.</p>
                    <p>Dari waktu ke waktu kami menguji fitur-fitur baru dan membuat perubahan sederhana pada cara situs didistribusikan. Ketika kami masih menguji fitur-fitur baru, cookie ini dapat digunakan untuk memastikan bahwa Anda menerima pengalaman yang konsisten saat berada di situs sambil memastikan kami memahami optimasi mana yang paling dihargai oleh pengguna kami.</p>
                    <p>Saat kami menjual produk, penting bagi kami untuk memahami statistik tentang berapa banyak pengunjung ke situs kami yang benar-benar melakukan pembelian dan karenanya ini adalah jenis data yang akan dilacak oleh cookie ini. Ini penting bagi Anda karena itu berarti bahwa kami dapat secara akurat membuat prediksi bisnis yang memungkinkan kami memantau biaya iklan dan produk kami untuk memastikan harga terbaik.</p>
                    <h4>Informasi Lebih Lanjut</h4>
                    <p>Mudah-mudahan itu telah menjelaskan hal-hal untuk Anda dan seperti yang disebutkan sebelumnya jika ada sesuatu yang Anda tidak yakin apakah Anda perlu atau tidak, biasanya lebih aman untuk membiarkan cookie diaktifkan jika berinteraksi dengan salah satu fitur yang Anda gunakan pada kami. situs Namun, jika Anda masih mencari informasi lebih lanjut maka Anda dapat menghubungi kami melalui salah satu metode kontak pilihan kami.</p>
                    <h4>Mitra Penyedia Layanan</h4>
                    <p>Kami dapat mempekerjakan perusahaan dan individu pihak ketiga untuk memfasilitasi Layanan kami, untuk menyediakan Layanan atas nama kami, untuk melakukan layanan terkait Layanan dan / atau untuk membantu kami dalam menganalisis bagaimana Layanan kami digunakan.</p>
                    <p>Pihak ketiga ini memiliki akses ke Informasi Pribadi Anda hanya untuk melakukan tugas tertentu atas nama kami dan berkewajiban untuk tidak mengungkapkan atau menggunakan informasi Anda untuk tujuan lain apa pun.</p>
                    <h4>Kepatuhan Terhadap Hukum</h4>
                    <p>Kami akan mengungkapkan Informasi Pribadi Anda jika diharuskan oleh hukum atau panggilan pengadilan atau jika kami percaya bahwa tindakan tersebut diperlukan untuk mematuhi hukum dan permintaan yang wajar dari penegakan hukum atau untuk melindungi keamanan atau integritas Layanan kami.</p>
                    <h4>Transaksi Bisnis</h4>
                    <p>Jika Joineka terlibat dalam merger, akuisisi, atau penjualan aset, Informasi Pribadi Anda dapat ditransfer sebagai aset bisnis. Dalam kasus seperti itu, kami akan memberikan pemberitahuan sebelum Informasi Pribadi Anda di transfer dan / atau menjadi tunduk pada Kebijakan Privasi yang berbeda.</p>
                    <h4>Keamanan</h4>
                    <p>Informasi Pribadi Anda penting bagi kami, dan kami berusaha untuk menerapkan dan memelihara prosedur dan praktik keamanan yang wajar, dapat diterima secara komersial sesuai dengan sifat informasi yang kami simpan, untuk melindunginya dari akses, perusakan, penggunaan yang tidak sah, modifikasi, atau pengungkapan.</p>
                    <p>Namun, perlu diketahui bahwa tidak ada metode transmisi melalui internet, atau metode penyimpanan elektronik yang 100% aman dan kami tidak dapat menjamin keamanan absolut dari Informasi Pribadi yang kami kumpulkan dari Anda.</p>
                    <h4>Tautan ke Situs Lain</h4>
                    <p>Layanan kami dapat berisi tautan ke situs lain yang tidak dioperasikan oleh kami. Jika Anda mengklik tautan pihak ketiga, Anda akan diarahkan ke situs pihak ketiga itu. Kami sangat menyarankan Anda untuk meninjau Kebijakan Privasi setiap situs yang Anda kunjungi.</p>
                    <p>Kami tidak memiliki kendali atas dan tidak bertanggung jawab atas konten, kebijakan privasi, atau praktik situs atau layanan pihak ketiga mana pun.</p>
                    <h4>Kebijakan Anak-anak</h4>
                    <p>Layanan kami tidak diperuntukkan agar dapat diatur oleh individu berusia kurang dari atau samadengan 14 tahun. Penanganan langsung dari orangtua/ wali sangat direkomendasikan untuk menggunakan layanan kami.</p>
                    <h4>Perubahan Terhadap Kebijakan Privasi</h4>
                    <p>Kebijakan Privasi ini berlaku mulai 21 Desember 2018, dan akan tetap berlaku kecuali sehubungan dengan perubahan dalam ketentuannya di masa mendatang, yang akan berlaku segera setelah dipublikasikan di halaman ini.</p>
                    <p>Kami berhak memperbaharui atau mengubah Kebijakan Privasi kami kapan saja dan Anda harus memeriksa Kebijakan Privasi ini secara berkala. Penggunaan Anda yang berkelanjutan atas Layanan setelah kami memposting setiap modifikasi pada Kebijakan Privasi di halaman ini akan merupakan pengakuan Anda atas modifikasi dan persetujuan Anda untuk mematuhi dan terikat oleh Kebijakan Privasi yang dimodifikasi.</p>
                    <p>Jika kami melakukan perubahan materi pada Kebijakan Privasi ini, kami akan memberitahu Anda baik melalui alamat email yang Anda berikan kepada kami atau dengan menempatkan pemberitahuan penting di situs web kami.</p>
                    <h4>Kontak</h4>
                    <p>Silahkan untuk menghubungi kami apabila terdapat saran maupun pertanyaan terkait Kebijakan Privasi kami melalui <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=customercenter@joineka.com">Kontak</a></p>
                  </div>                    
                </div>
              </div>
            </div>
          </section> <!-- end privacy policy -->

{% endblock content %}