{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="text-center">

<h1><b>Ooops!!!<b></h1>

<h3>Sepertinya terjadi kesalahan!</h3>

<p>
Kami telah melacak gangguan ini melalui sistem kami. Coba refresh halaman, apabila gangguan tetap ada silahkan hubungi kami melalui Telegram: @joineka atau Email: <a href="https://mail.google.com/mail/?view=cm&fs=1&to=customercenter@joineka.com" target="_blank">Customer Center</a>.
</p>

</div>
{% endblock content %}


