{% extends "result.html" %}
{% load humanize %}

{% block head_title %}Pencarian '{{ query }}'{% endblock %}

{% block content %}
<div class="container d-block d-md-none pt-5 bootstrap snippet">
  <div class="row mt-5 pt-5">
    <div class="col">
      <small class="text-muted">Hasil pencarian dari '<b>{{ query }}</b>'</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-7">
      <div class="ibox float-e-margins">
        <div class="ibox-content pl-0">

          {% if result_list %}
          <div class="search-result">
            {% for result in result_list %}
            <a href="{{ result.link }}" class="card-link">
            <h6 class="m-0 p-0">
              <span>
                {{ result.title|safe|escape }}
              </span>
            </h6>
            <small onclick="return false;" class="search-link">{{ result.link|truncatechars:45 }}</small>
            <p class="text-dark card-link">
              {{ result.summary|safe|escape }}
            </p>
            <div class="hr-line-dashed"></div>
            </a>
            {% endfor %}
          </div>
          {% endif %}

          <!-- <div class="text-center">
            <div class="btn-group">
              <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-left"></i></button>
              <button class="btn btn-white">1</button>
              <button class="btn btn-white  active">2</button>
              <button class="btn btn-white">3</button>
              <button class="btn btn-white">4</button>
              <button class="btn btn-white">5</button>
              <button class="btn btn-white">6</button>
              <button class="btn btn-white">7</button>
              <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-right"></i> </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-none d-md-block pt-5 bootstrap snippet">
  <div class="row pt-3">
    <div class="col">
      <small class="text-muted">Hasil pencarian dari '<b>{{ query }}</b>'</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-7">
      <div class="ibox float-e-margins">
        <div class="ibox-content pl-0">

          {% if result_list %}
          <div class="search-result">
            {% for result in result_list %}
            <a href="{{ result.link }}" class="card-link m-0">
              <h6 class="m-0 p-0">
                <span>
                  {{ result.title|safe|escape }}
                </span>
              </h6>
              <small onclick="return false;" class="search-link">{{ result.link|truncatechars:64 }}</small>
              <p class="text-dark card-link">
                {{ result.summary|safe|escape }}
              </p>
              <div class="hr-line-dashed"></div>
            </a>
            {% endfor %}
          </div>
          {% endif %}

          <!-- <div class="text-center">
            <div class="btn-group">
              <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-left"></i></button>
              <button class="btn btn-white">1</button>
              <button class="btn btn-white  active">2</button>
              <button class="btn btn-white">3</button>
              <button class="btn btn-white">4</button>
              <button class="btn btn-white">5</button>
              <button class="btn btn-white">6</button>
              <button class="btn btn-white">7</button>
              <button class="btn btn-white" type="button"><i class="glyphicon glyphicon-chevron-right"></i> </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}