{% extends "result.html" %}
{% load rpl %}
{% load humanize %}

{% block head_title %}Pencarian '{{ query }}'{% endblock %}

{% block content %}
<div class="container d-block d-md-none pt-5 bootstrap snippet">
  <div class="row mt-5 pt-5">
    <div class="col">
      <small class="text-muted">Menampilkan hasil pencarian dari '<b>{{ query|truncatechars:36 }}</b>'</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-7">
      <div class="ibox float-e-margins">
        <div class="ibox-content pb-1 pl-0">

          {% if result_list %}
          <div class="search-result">
            {% for result in result_list.webPages.value %}
            <a href="{{ result.url }}" class="card-link m-0">
              <h6 class="m-0 p-0">
                <span>
                  {{ result.name|safe|escape }}
                </span>
              </h6>
            <small onclick="return false;" class="search-link">{{ result.url|truncatechars:45 }}</small>
            <p class="text-dark card-link">
              {{ result.snippet|safe|escape }}
            </p>
            {% if forloop.last %}{% else %}<div class="hr-line-dashed"></div>{% endif %}
            </a>
            {% empty %}
            <h5>Tidak ada hasil untuk pencarian ini:(</h5>
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-none d-md-block pt-5 pb-5 mb-3 bootstrap snippet">
  <div class="row pt-3">
    <div class="col">
      <small class="text-muted">Menampilkan hasil pencarian dari '<b>{{ query|truncatechars:45 }}</b>'</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-7">
      <div class="ibox float-e-margins">
        <div class="ibox-content pb-0 pl-0">

          {% if result_list %}
          <div class="search-result">
            {% for result in result_list.webPages.value %}
            <a href="{{ result.url }}" class="card-link m-0">
              <h6 class="m-0 p-0">
                <span>
                  {{ result.name|safe|escape }}
                </span>
              </h6>
              <small onclick="return false;" class="search-link">{{ result.url|truncatechars:64 }}</small>
              <p class="text-dark card-link">
                {{ result.snippet|safe|escape }}
              </p>
              {% if forloop.last %}{% else %}<div class="hr-line-dashed"></div>{% endif %}
            </a>
            {% empty %}
            <h5>Tidak ada hasil untuk pencarian ini:(</h5>
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-6 col-xl-5">
      <div class="ibox float-e-margins">
        <div class="ibox-content pt-1 pl-0">

          {% if result_list %}
          <div class="search-result">
            <h6>Orang lain juga menelusuri</h6>
            {% for result in result_list.relatedSearches.value %}
            <a href="search?q={{ result.text|rpl }}" class="m-0">
              <p class="m-0 pb-1">
                <span>
                  {{ result.text|safe|escape }}
                </span>
              </p>
            </a>
            {% empty %}
            <small class="text-muted">Tidak ada penelusuran terkait '<b>{{ query|truncatechars:45 }}</b>'</small>
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-block d-md-none pt-1 pb-5 bootstrap snippet">
  <div class="row pt-">
    <div class="col">
      <h6>Orang lain juga menelusuri</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-7">
      <div class="ibox float-e-margins">
        <div class="ibox-content pt-1 pl-0">

          {% if result_list %}
          <div class="search-result">
            {% for result in result_list.relatedSearches.value %}
            <a href="search?q={{ result.text|rpl }}" class="m-0">
              <p class="m-0 pb-1">
                <span>
                  {{ result.text|safe|escape }}
                </span>
              </p>
            </a>
            {% empty %}
            <small class="text-muted">
              Tidak ada penelusuran terkait '<b>{{ query|truncatechars:36 }}</b>'
            </small>
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
